@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.contatos-nav {

    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #000;
    font-size: 4rem;
    padding-left: 32px;
    color: #ff7701;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}

.grupo {
    display: flex;
    flex-direction: column;
}

.grupo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.informacoes {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    
}

.horarios p {
    padding-bottom: 10px;
    font-size: clamp(1rem,4vw,2rem);
}

.horarios :nth-child(1) {
    font-size: clamp(1.3rem,4vw,2.5rem);
    padding-bottom: 10px;
}

.email {
    margin-top: 30%;
    padding-bottom: 10px;
}

.email p {
    font-size: clamp(1rem,4vw,2rem);
}

.email :nth-child(1) {
    font-size: clamp(1.3rem,4vw,2.5rem);
    padding-bottom: 10px;
}

.mapa {
    width: 800px;
    height: 600px;
}

.redes {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: flex-end;
    
    
}

.redes i{
    font-size: 4.5rem;
    color: white;
    padding: 20px;
}
.redes i:hover{
    transition: .5s;
    font-size: 4.5rem;
    Color: #ff7701;
}

@media (max-width:720px) {

    .grupo2 { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mapa {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 50px;
        width: 300px;
        height: 300px;
    }

    .informacoes {
        display: flex;
        margin-left: 10px;
        flex-direction: column;
        color: white;
        font-size: 1rem;
    }
    
    .horarios p {
        padding-bottom: 10px;
        
    }
    
    .horarios :nth-child(1) {
        font-size: 1.3rem;
        padding-bottom: 10px;
    }
    
    .email {
        margin-top: 10%;
        padding-bottom: 10px;
    }
    
    .email :nth-child(1) {
        font-size: 1.3rem;
        padding-bottom: 10px;
    }
    
    .redes {
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
        
        
    }
    
}
